body {
  background-color: #F5F3E7; /* Beige claro */
  background-image: url('/imagenes/fon2.png');
  background-size: 1920px auto;
}


.button{
    display: flex;
    padding-top: 10px;
}

.cuadro-formulario {
  max-width: 500px;
  margin: 50px auto;
  background-color: #fffff5;
  border-radius: 15px;
  border: 2px solid #7ec256;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-weight: bold;
  color: #333;
}